{% include head.html %}
<style>
h1 {
  font-size: 2rem;
}
.article header {
  margin-top: 0;
}
</style>
<section class="article">

{% if page.image.feature %}
  <div class="overlay"></div>
  <div class="featured-image" style="background-image: url({{ site.url }}/images/{{ page.image.feature }})"></div>
{% else %}
  <div class="overlay"></div>
  <div class="featured-image" style="background-image: url({{ site.url }}/images/typewriter.jpg)"></div>
{% endif %}

      <article class="wrap post">
        <header class="event-list-title">
          <hgroup>
            <h1>Firefox OS 関連イベント</h1>
          </hgroup>
        </header>

        {{ content }}
      </article>

    </section>
</div>

{% include footer.html %}
